<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Forgot Password Email</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="content">
      <h3>Dear {{name}},</h3>
      <p>You have requested to reset your password. Please use this <a
                                                                      href="{{url}}">link</a>
      to reset your password.</p>
    </div>
  </body>
</html>
